.menu-container {
    position: fixed;
    top: 0;
    right: 0px;
    left: 0;
    width: calc(100% 0px);
    background-color: #1a1a1a;
    padding: 1px;
}

.menu-boton {
    background-color: #1a1a1a;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-top: 20px;  /* Ajusta este valor para bajar la imagen */
}

@media (max-width: 768px) { /* Ajuste para pantallas pequeñas */
    .menu-boton {
        max-width: 60px;  /* Aumenta el tamaño en dispositivos móviles */
    }
}

.menu {
    display: none;
    text-align: right;
    clear: both;
    margin-right: 10px;
}

.menu a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.menu-imagen {
    max-width: 4%; 
    height: auto; 
    float: left;
    margin-bottom: 10px;
    margin-top: 15px;  /* Ajusta este valor para bajar la imagen */
}


@media (max-width: 768px) { /* Ajuste para pantallas pequeñas */
    .menu-imagen {
        max-width: 60px;  /* Aumenta el tamaño en dispositivos móviles */
    }
}

.nombre_esc {
    color: white;
    font-size: 2.5vw; /* Tamaño responsive basado en el ancho de la ventana */
    padding: 20px;    /* Espaciado ajustado */
    text-align: center; /* Centra el texto */
    float: left;      /* Evita que flote, mejora en pantallas pequeñas */
    margin: 0;        /* Elimina márgenes fijos */
}

@media (max-width: 768px) { /* Ajuste para pantallas pequeñas */
    .nombre_esc {
        font-size: 5vw; /* Aumenta el tamaño en dispositivos móviles */
    }
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh; 
    background-color: #f4f4f4;
    margin-top: 100px; 
}


.header {
    grid-column: span 3; /* Hace que el encabezado ocupe las tres columnas */
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espacio entre el encabezado y los botones */
}

.botonera-rectangulo {
    display: grid; /* Cambia de flex a grid para un diseño en columnas */
    grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas de igual ancho */
    gap: 20px; /* Espacio entre los botones */
    padding: 50px;
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-top: -250px;
}

.botonera-rectangulo button {
    padding: 15px 50px; /* Ajusta el tamaño del botón */
    background-color: #ff4b4b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%; /* Asegura que los botones ocupen todo el ancho de la celda */
}

.botonera-rectangulo button:hover {
    background-color: #c92c2c;
}