.menu-container {
    position: fixed;
    top: 0;
    right: 0px;
    left: 0;
    width: calc(100% 0px);
    background-color: #1a1a1a;
    padding: 1px;
}

.menu-boton {
    background-color: #1a1a1a;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-top: 20px;  /* Ajusta este valor para bajar la imagen */
}

@media (max-width: 768px) { /* Ajuste para pantallas pequeñas */
    .menu-boton {
        max-width: 60px;  /* Aumenta el tamaño en dispositivos móviles */
    }
}

.menu {
    display: none;
    text-align: right;
    clear: both;
    margin-right: 10px;
}

.menu a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.menu-imagen {
    max-width: 4%; 
    height: auto; 
    float: left;
    margin-bottom: 10px;
    margin-top: 15px;  /* Ajusta este valor para bajar la imagen */
}


@media (max-width: 768px) { /* Ajuste para pantallas pequeñas */
    .menu-imagen {
        max-width: 60px;  /* Aumenta el tamaño en dispositivos móviles */
    }
}

.nombre_esc {
    color: white;
    font-size: 2.5vw; /* Tamaño responsive basado en el ancho de la ventana */
    padding: 20px;    /* Espaciado ajustado */
    text-align: center; /* Centra el texto */
    float: left;      /* Evita que flote, mejora en pantallas pequeñas */
    margin: 0;        /* Elimina márgenes fijos */
}

@media (max-width: 768px) { /* Ajuste para pantallas pequeñas */
    .nombre_esc {
        font-size: 5vw; /* Aumenta el tamaño en dispositivos móviles */
    }
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh; 
    background-color: #f4f4f4;
    margin-top: 100px; 
}



table {
    width: 90%;
    border-collapse: collapse;

  }
  
  td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
  }


